.features__image {
  height: 120px;
  background: var(--small-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features {
  padding-bottom: 60px;
  padding-top: 60px;
  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.features__item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.features__title {
  text-align: center;
  font-weight: 700;
  font-size: var(--main-fs);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--top-color);
  height: 16px;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.features__text {
  font-size: var(--main-fs);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hero-color);
}
