.filter-section {
  padding-top: 94px;
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--animate);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.filter-item {
  margin-right: 8px;
}
.filter-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--top-color);
  background-color: var(--small-color);
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color var(--animate), background-color var(--animate),
    box-shadow var(--animate);
  &:hover,
  &:focus {
    background-color: var(--back-color);
    color: var(--medium-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--top-color);
  margin: 0px 0px 4px;
}
.filter-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--hero-color);
}
.top-filter-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 30px;
}

.portfolio-info {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.portfolio-item {
  transition: transform var(--animate);
  &:hover .portfolio-text-wrap {
    transform: translateY(0);
  }
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-text-wrap {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--animate);
}
